
@import 'meyer-reset.css'
/* SETUP */

*{
    box-sizing: border-box;
}
picture {
    display: block;
}

img{
    display:block;
    width: 100%;
    height: auto;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    color: blue;
    text-decoration: none;
    display: inline-block;
}


/* settings */

html {

    --black: #333;
    --color: rgb(47, 47, 202);
    --white: #efefef;
    --light: #1fa3fc;
    --dark: rgb(31,41,55)


}
/*dev styles  */

:root{
    --dark-background-color: #1f2937;
    --hero-texts-color: #f9faf8;
    --button-color: #3882f6;
    --dark-text: #1f2937;
    --quote-background-color:#e5e7eb;
    


}

/* structure */

body{
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;
    margin: 0 auto;
}

main{
    flex-grow: 1;
    border: 0px solid pink;
}

.inner-column{

    display: block;
    border: 0px solid orange;
    padding: 10px;
    width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom:10vh;
}

header .inner-column {
    padding: 10px;
}

header, footer, main {
    border: 0px solid red;
        
    }
    
    section {
     border: 0px solid lime;
    
    }




    /* Typography */

    .loud-voice {
        font-size: 40px;
        font-weight: 700px;
        line-height: 1.1;
    }

    .calm-voice {
        font-size: 1rem;
        line-height: 1.3;
        font-family: sans-serif;
    }
    /*COMPONENTS  */

    .button {
        display: inline-block;
        background-color: var(--color);
        color: white;
        font-size: 1.2rem;
        padding: 0.6em 1em;
        font-family: sans-serif;
        border-radius: 8px;
    }

    /* MOdules */

    graphic-diptych {
        display: block;
        display: flex;
        flex-direction:column;
        gap: 20px;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }


    graphic-diptych text-content {
       display: block;
        margin-top: 10px;
    }

    graphic-diptych text-content .button{
     
        margin-top: 10px;
    }




    graphic-diptych picture {
      max-width: 541;
    }

@media (min-width: 700px) {

    graphic-diptych{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        
    }

    graphic-diptych :is(text-content, picture){
        flex-basis: 50%;
        border: 0px solid red;
    }
    /* graphic-diptych text-content, picture{} */



}



.welcome {

    background-color: var(--black);
    color: var(--white)
}


.welcome .button {

    background-color: var(--light);
    color: var(--white)
}

.about {
    background-color: rgb(235, 152, 152);
}

products-grid {

    display: block;
}
products-grid .product-list {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1em;

}

product-card{
    display: block;
}

product-card img{
    border: 2px solid var(--button-color);
    border-radius: 12px;
}