
@import 'meyer-reset.css'
/* SETUP */

*{
    box-sizing: border-box;
}
picture {
    display: block;
}

img{
    display:block;
    width: 100%;
    height: auto;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    color: var(--button-color);
    text-decoration: none;
    display: inline-block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/* settings */

html {

    --black: #333;
    --color: var(--button-color);
    --white:var(--hero-texts-color)
    --light: var(--button-color);
    --dark: var(--dark-background-color)


}
/*dev styles  */

:root{
    --dark-background-color: #1f2937;
    --hero-texts-color: #f9faf8;
    --button-color: #3882f6;
    --dark-text: #1f2937;
    --quote-background-color:#e5e7eb;
    


}

/* structure */

body{
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;
    margin: 0 auto;
}

main{
    flex-grow: 1;
    border: 0px solid pink;
}

.inner-column{

    display: block;
    border: 0px solid orange;
    padding: 10px;
    width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom:10vh;
}

header .inner-column {
    padding: 10px;
}

header, footer, main {
    border: 0px solid red;
        
    }
    
    section {
     border: 0px solid lime;
    
    }




    /* Typography */

    .loud-voice {
        font-size: 40px;
        font-weight: 700px;
        line-height: 1.1;
    }

    .calm-voice {
        font-size: 1rem;
        line-height: 1.3;
        font-family: sans-serif;
    }
    /*COMPONENTS  */

    .button {
        display: inline-block;
        background-color: var(--color);
        color: white;
        font-size: 1.2rem;
        padding: 0.6em 1em;
        font-family: sans-serif;
        border-radius: 8px;
    }

    /* MOdules */

    graphic-diptych {
        display: block;
        display: flex;
        flex-direction:column;
        gap: 20px;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }


    graphic-diptych text-content {
       display: block;
        margin-top: 10px;
    }

    graphic-diptych text-content .button{
     
        margin-top: 10px;
    }




    graphic-diptych picture {
      max-width: 541;
    }

@media (min-width: 700px) {

    graphic-diptych{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        
    }

    graphic-diptych :is(text-content, picture){
        flex-basis: 50%;
        border: 0px solid red;
    }
    /* graphic-diptych text-content, picture{} */



}



.welcome {

    background-color: var(--black);
    color: var(--white)
}


.welcome .button {

    background-color: var(--light);
    color: var(--white)
}

.about {
    background-color: var(--quote-background-color);
}

products-grid {

    display: block;
    width: 100%;
    margin: 0 auto;
}
products-grid .product-list {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 3em;
    margin: auto;
   
}

product-card{
    display: block;
}

product-card img{
    border: 2px solid var(--button-color);
    border-radius: 12px;
}


.product {
display: block;
}

text-content  {
    display:block;
    justify-content: center;
}

text-content  p{
    display:block;
    justify-content: center;
    text-align:center;
    margin-top: 35px;
}

text-content  .button{
    display:block;
  
    width: 60%;
    margin: 0 auto;
    text-align:center;
}

products-grid div h2 {
    text-align: center;
    font-size: 22px;
}

quote-container 
{   
    
    display: block;
    border: 0px solid orange;
    padding: 10px;
    width:78%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom:10vh;
}


quote-container p {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

quote-container h2 {
    text-align: right;
    
}

cta-container 
{   
    
    display: flex;
    border: 0px solid orange;
 
    width:100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5vh;
    padding-bottom:5vh;
    background: var(--button-color);
    border-radius: 12px;
    
   
}


cta-container left-items
{   
    
    display: flex;
    flex-direction: column;
    border: 0px solid orange;
    justify-content: flex-start;

    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    color: var(--hero-texts-color)
}

cta-container left-items h1
{   
    
    display: flex;
    flex-direction: column;
    border: 0px solid orange;
    justify-content: flex-start;
    text-align: left;

    align-items: center;
  
    color: var(--hero-texts-color);
    margin-block-start: 0em;
    margin-block-end: 0em;
}


cta-container right-items
{   
    
    display: flex;
    border: 0px solid orange;
    width: 120px;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    color: var(--hero-texts-color)
}


cta-container right-items button
{   
    
background-color: var(--button-color);
color: var(--hero-texts-color);
border: 2px solid var(--hero-texts-color);
padding:5px;
width: 75px;
border-radius: 12px;
}
